# ignore all model files
models/*
!models/.gitkeep
!models/registry.json

config/*
!config/.gitkeep

history/*
!history/.gitkeep

# ignore virtualenv
venv/
.venv
.venv/
.env/
env/
# ignore pycache
__pycache__/
*.py[cod]
.pyo
.pyd
